body.popup-open {
    overflow: hidden;
    .out {
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
    }
}

.popup {
    width: 100%;
    height: 100%;
    background-color: rgba($black, .7);
    position: fixed;
    top: 0;
    left: 0;
    transition: all 300ms ease-in-out;
    z-index: 1055;

    &__title {
        margin-bottom: 60px;
    }

    &.hide {
        opacity: 0;
        z-index: -1;
        background-color: rgba($black, 0);
        .popup-dialog {
            right: -100%;
        }
    }

    &-dialog {
        max-width: 960px;
        width: 100%;
        height: 100%;
        background-color: $white;
        box-shadow: $shadow-popup;
        position: absolute;
        right: 0;
        top: 0;
        transition: all 300ms ease-in-out;

        &_mini {
            max-width: 430px;
            .popup-close {
                @include max-xl {
                    left: -64px;
                    .popup-close-icon {
                        &:before, &:after {
                            background-color: $white;
                        }
                    }
                }
                @include max-md {
                    left: 21px;
                    .popup-close-icon {
                        &:before, &:after {
                            background-color: $black;
                        }
                    }
                }
            }
        }

        .form-group {
            max-width: 480px;
            &-lg {
                max-width: 610px;
            }
            &-max {
                max-width: unset;
            }
            &-full {
                max-width: unset;
                margin-left: -12px;
                padding: 5px 18px 0 12px;
            }
        }
        .form-control {
            max-width: 480px;
        }
    }
    &-content {
        height: 100%;
        padding: px2rem(73px) px2rem(60px);
        overflow-y: auto;
    }
    &-close {
        cursor: pointer;
        display: block;
        font-size: 1rem;
        line-height: 0;
        padding: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
        outline: none;
        -webkit-appearance: none;
        position: absolute;
        top: 36px;
        left: -64px;
        transition: all 130ms ease-in-out;
        @include max-xl {
            left: 21px;
            .popup-close-icon {
                &:before, &:after {
                    background-color: $black;
                }
            }
        }

        @include hover {
            outline: none;
        }

        &:hover {
            transform: rotate(90deg);
        }
    }
    &-close-icon {
        display: inline-block;
        width: px2rem(28px);
        height: px2rem(28px);
        font-size: 1rem;
        line-height: 1;
        position: relative;

        &:before, &:after {
            content: '';
            display: block;
            width: 36px;
            height: 3px;
            background-color: $white;
            transform: rotate(45deg);
            position: absolute;
            top: 12px;
            left: -4px;
        }
        &:after {
            transform: rotate(135deg);
        }
    }
    &-timeout {
        padding-top: 50px;
    }
    &-out {
        display: block;
        width: 100%;
        height: 100%;
        padding-top: 178px;
        background-color: $white;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 300ms ease-in-out;
        opacity: 1;
        z-index: 1060;

        &.hide {
            opacity: 0;
            z-index: -1;
        }
    }
}
