.successfull {
    text-align: center;
    &__ring {
        width: 130px;
        height: 130px;
        margin: 0 auto 20px;
        position: relative;
        .progress-ring {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;
        }
    }
    &__value {
        color: $dark-gray;
        width: 130px;
        height: 130px;
        text-align: center;
        font-weight: 300;
        line-height: 130px;
        font-size: 60px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        .icon-big-approve {
            width: 52px;
            height: 40px;
            position: relative;
            left: -4px;
            top: -9px;
        }
    }
    &__text {
        color: $gray;
        max-width: 160px;
        font-size: 12px;
        line-height: 1.2;
        margin: 0 auto 70px;
    }
}
