---
taskLists: [
    {
        id: 1,
        fromTitle: 'Red Bull Media House',
        fromText: '<p>Description or purpose of payment. Lorem ipsum dolor sit amet.</p>',
        toTitle: 'Fabio Wibmer',
        toText: "<p>Personal Account</p>\n<p>XXXX XXXX XXXX XXXX</p>",
        symbol: '$',
        sum: '100,000.00'
    },
    {
        id: 2,
        fromTitle: 'Red Bull Media House',
        fromText: '<p>Type something</p>',
        toTitle: 'Fabio Wibmer',
        toText: "<p>Personal Account</p>\n<p>XXXX XXXX XXXX XXXX</p>",
        symbol: '$',
        sum: '100,000.00'
    }
]
charts: [
    {
        id: 1,
        cur : 'USD',
        float : '2,031',
        symbol : '$',
        text : 'GB 17 ELPA 123456 USD',
        content : '<div class="chart-container"><canvas id="myChart-1" class="chart-js" width="1170px" height="360px"></canvas></div>'
    },
    {
        id: 2,
        cur : 'EUR',
        float : '8,912',
        symbol : '€',
        text : 'GB 17 ELPA 123456 EUR',
        content : '<div class="chart-container"><canvas id="myChart-1" class="chart-js" width="1170px" height="360px"></canvas></div>'
    },
    {
        id: 3,
        cur : 'GBP',
        float : '1,988',
        symbol : '£',
        text : 'GB 17 ELPA 123456 GBP',
        content : '<div class="chart-container"><canvas id="myChart-1" class="chart-js" width="1170px" height="360px"></canvas></div>'
    },
]
transactions: [
    {
        id: 1234567890,
        logo: 'temp-upload/Starbucks-New-Logo@2x.png',
        title: 'Starbucks coffee',
        status: 'Approval',
        statusClass: 'secondary',
        sum: '+ €3.00',
        sumClass: 'text-success',
        date: 'Today, 6:21 PM',
        iban: 'CZ4655000000000010888312',
        bic: 'RZBCCZP',
        name: 'Cyber Force Gr',
        description: 'Extract from Corporate Register or Chamber of Commerce or other proof of
registration with the home country’s registering body – e.g. Companies House
in the UK. This document shall contain the following minimum information:
Company names, Company registration number, Date of incorporation, Company
legal address, Company’s direct shareholders, Company’s directors.',
        counterAccount: 'CZ46 5500 0000 0000',
        accountNumber: 'GB04 ELPA 0000 0000',
        interestDate: '20 Jan 2018',
        balanceAfter: '€ 1,089.07',
        fullname: 'Burton Dave Clement',
        createdByShort: 'Burton D. C.',
        authorizedBy: 'John O`neil',
    },
    {
        id: 1234567980,
        logo: 'temp-upload/Starbucks-New-Logo@2x.png',
        title: 'Starbucks coffee',
        status: 'Pending',
        statusClass: 'warning',
        sum: '- €3.00',
        sumClass: 'text-danger',
        date: 'Today, 6:21 PM',
        iban: 'CZ4655000000000010888313',
        bic: 'RZBCCZP',
        name: 'Cyber Force Group s.r.o.',
        description: 'Invoice 2018002',
        counterAccount: 'CZ46 5500 0000 0000',
        accountNumber: 'GB04 ELPA 0000 0000',
        interestDate: '20 Jan 2018',
        balanceAfter: '€ 1,089.07',
        fullname: 'Burton Dave Clement',
        createdByShort: 'Burton D. C.',
        authorizedBy: 'John O`neil',
    },
    {
        id: 1234567990,
        logo: 'temp-upload/Starbucks-New-Logo@2x.png',
        title: 'Starbucks coffee',
        status: 'Successfull',
        statusClass: 'success',
        sum: '- €3.00',
        date: 'Today, 6:21 PM',
        iban: 'CZ4655000000000010888314',
        bic: 'RZBCCZP',
        name: 'Cyber Force Group s.r.o.',
        description: 'Invoice 2018002',
        counterAccount: 'CZ46 5500 0000 0000 1088 8314',
        accountNumber: 'GB04 ELPA 0000 0000 35',
        interestDate: '20 Jan 2018',
        balanceAfter: '€ 1,089.07',
        fullname: 'Burton Dave Clement',
        createdByShort: 'Burton D. C.',
        authorizedBy: 'John O`neil',
    },
    {
        id: 1234567990,
        logo: 'temp-upload/Starbucks-New-Logo@2x.png',
        title: 'Starbucks coffee',
        status: 'Rejected',
        statusClass: 'danger',
        sum: '- €3.00',
        date: 'Today, 6:21 PM',
        iban: 'CZ4655000000000010888314',
        bic: 'RZBCCZP',
        name: 'Cyber Force Group s.r.o.',
        description: 'Invoice 2018002',
        counterAccount: 'CZ46 5500 0000 0000 1088 8314',
        accountNumber: 'GB04 ELPA 0000 0000 35',
        interestDate: '20 Jan 2018',
        balanceAfter: '€ 1,089.07',
        fullname: 'Burton Dave Clement',
        createdByShort: 'Burton D. C.',
        authorizedBy: 'John O`neil',
    }
]
accounts: [
    {
        id: 'GB17ELPA123456USD',
        mount: '2,031',
        symbol: '$',
    },
    {
        id: 'GB17ELPA123456EUR',
        mount: '8,912',
        symbol: '€',
    },
    {
        id: 'GB17ELPA123456GBP',
        mount: '1,988',
        symbol: '£',
    }
]
---

{% extends "layouts/_layout.html" %}

{% block content %}

<main>
    {% include "partials/_header.html" %}
    {% include "partials/index/_inbox.html" %}
    {% include "partials/index/_chart.html" %}
    {% include "partials/index/_transactions.html" %}
    {% include "partials/_new-transaction.html" %}
    {% include "partials/_footer.html" %}
</main>

{% endblock %}
