<nav class="navbar navbar-expand-lg header-navbar navbar-light">
    <div class="navbar-container container d-block pr-0">
        <div class="align-items-center flex-nowrap justify-content-between row">
            <div class="col-5 pl-0 d-flex align-items-center">
                <a class="navbar-brand" href="#">
                    <img src="img/logo.png" alt="Elpaso" class="navbar-logo">
                </a>
            </div>
            <div class="col-6 justify-content-end align-items-center">
                <div class="sing-block text-right">
                    <span class="sing-block__text">Don’t have an account?</span>
                    <a href="#" class="sing-block__link">Sign up</a>
                </div>
            </div>
        </div>
    </div>
</nav>
