<div class="sing-in">
    <div class="sing-in__in">
        <h1>Welcome to our club</h1>
        <div class="lead sing-in__lead">
            Enter your details below.
        </div>
        <form action="" class="sing-in__form">
            <div class="form-group">
                <label for="phone">Phone number</label>
                <div class="form-control-shadow">
                    <input type="text" class="form-control" id="phone" required>
                </div>
            </div>
            <div class="form-group">
                <div class="link-right">
                    <a href="#">Forgot your password?</a>
                </div>
                <label for="password">Password</label>
                <div class="form-control-shadow">
                    <input type="password" class="form-control" id="password" required>
                </div>
            </div>
            <button class="btn btn-primary mt-2" type="submit">Sing in</button>
        </form>
    </div>
</div>
