.contacts {
    &__title {
        margin-top: 60px;
        margin-bottom: 49px;
    }
    &__content {
        margin-top: 36px;
        background-color: $white;
        box-shadow: $shadow-input;
    }
}
