.exchange {
    .custom-control-label {
        height: 21px;
        border-bottom: 1px dashed $gray;
    }
    .custom-control.custom-radio .custom-control-input:checked ~ .custom-control-label {
        border-bottom: none;
    }
    &__icon {
        position: relative;
        &:after {
            content: '';
            display: table;
            clear: both;
        }
    }
    &__arrows {
        width: 50%;
        padding-left: 15px;
        text-align: center;
        float: right;
    }
    &__rate {
        color: $gray;
        font-size: 18px;
        .int {
            color: $dark-gray;
        }
    }
    &__info {
        color: $gray;
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        border: $border-silver;
        label {
            display: block;
            margin-bottom: 0;
        }
        .int {
            color: $dark-gray;
        }
    }
    &__col {
        width: 50%;
        padding: 14px 11px;
    }
    &__desc {
        color: $gray;
        font-size: 12px;
        line-height: 1.3;
        padding: 9px 11px;
    }
}
