.transaction {
    position: relative;
    &-template {
        width: 240px;
        position: absolute;
        top: -1px;
        right: -12px;

        .input-group {
        }
    }
    &-id {
        font-size: px2rem(12px);

        .transaction-label {
            margin-right: 5px;
        }
    }
    &-label {
        color: $gray;
    }
    &-accounts {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding-top: 57px;
        padding-bottom: 46px;
    }
    &-add {
        width: 60px;
        min-width: unset;
        height: 60px;
        position: fixed;
        bottom: 60px;
        right: 60px;
    }
}
