.account-item {
    margin-right: px2rem(23px);
    &:last-child {
        margin-right: 0;
    }
    &-checkbox {
        display: none;
        &:checked {
            + .account-item-label {
                color: $white;
                background-color: $blue;
                border-color: $blue;

                .account-item-number {
                    color: rgba($white, .6);
                }
            }
        }
    }
    &-label {
        cursor: pointer;
        color: $gray;
        display: inline-block;
        padding: px2rem(8px) px2rem(48px) px2rem(10px) px2rem(12px);
        background-color: $light;
        border: 1px solid $light-silver;
        border-radius: 3px;
        font-size: px2rem(12px);
    }
    &-mount {
        display: block;
        .float {
            font-size: px2rem(24px);
        }
        .symbol {
            font-size: px2rem(16px);
        }
    }
    &-number {
        color: rgba($gray, .36);
    }
}