.profile {
    cursor: pointer;
    display: block;
    position: relative;
    margin-right: 15px;
    @include xl {
        margin-right: 0;
    }

    &.show {
        .profile-link {
            &:before {
                right: -5px;
            }
            &:after {
                right: -2px;
            }
        }
    }

    &-link {
        display: block;
        padding-right: 1rem;
        position: relative;

        &:before, &:after {
            content: '';
            display: block;
            width: 6px;
            height: 2px;
            background-color: $gray;
            position: absolute;
            top: 19px;
            right: 0;
            transform: rotate(45deg);
            transition: all 200ms ease-in-out;
            pointer-events: none;
        }
        &:before {
            right: -2px;
        }
        &:after {
            right: -5px;
            transform: rotate(135deg);
        }
    }

    &-avatar {
        @extend .user-avatar;
        margin-right: 0;
        img {
            height: 36px;
        }
    }
}
