.shareholder {
    &__table {
        td {
            vertical-align: middle;
        }
    }
    &__type {
        color: $gray;
        font-size: 12px;
    }
    &__add {
        .icon {
            width: 11px;
            position: relative;
            top: -1px;
        }
    }
    &__remove {
        @include hover {
            .icon {
                fill: $red;
            }
        }
    }
}
