.user {
    font-size: px2rem(12px);

    &_approve, &_select:hover {
        .user {
            &-avatar {
                position: relative;
                &:before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-color: rgba($blue, .6);
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 5;
                }
                &:after {
                    content: '';
                    width: 15px;
                    height: 12px;
                    margin-top: -6px;
                    margin-left: -7px;
                    background-image: url('data:image/svg+xml;utf8,
<svg width="15px" height="12px" viewBox="0 0 15 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g  stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-316.000000, -138.000000)" fill="#FFFFFF"><g transform="translate(284.000000, 64.000000)"><g><g transform="translate(17.000000, 23.000000)"><g transform="translate(4.000000, 38.000000)"><polygon transform="translate(18.424621, 17.424621) rotate(-45.000000) translate(-18.424621, -17.424621)" points="11.9246212 13.4246212 14.9246212 13.4246212 14.9246212 18.4246212 24.9246212 18.4246212 24.9246212 21.4246212 11.9246212 21.4246212"></polygon></g></g></g></g></g></g></svg>');
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    z-index: 15;
                }
            }
        }
    }

    &-link {
        text-decoration: none;
        @include hard-hover {
            text-decoration: none;
        }
    }
    &-avatar {
        display: block;
        width: 36px;
        height: 36px;
        margin-right: 12px;
        overflow: hidden;
        border-radius: 100%;
        float: left;
    }
    &-name {
        display: block;
        color: $black;
        padding-top: 1px;
    }
    &-description {
        color: $gray;
        display: block;
    }
}
