<section class="section contacts mb-5">
    <div class="container">
        <div class="row">
            <div class="col-12 px-0">
                <h1 class="text-center font-regular contacts__title">{{ mixins.icon('notebook') }}Address book</h1>
                <ul class="nav nav-tabs transactions-tabs" id="chart" role="tablist">
                    <li class="nav-item">
                        <div class="search filter filter-search">
                            <form action="/some-ajax-url" class="search-form" method="get">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">{{ mixins.icon('search') }}</div>
                                    </div>
                                    <input type="text" class="form-control"
                                           placeholder="Search by name, email or alias">
                                </div>
                            </form>
                        </div>
                    </li>
                    <li class="nav-item ml-auto">
                        <a href="#" class="nav-link nav-link_link">
                            {{ mixins.icon('print') }} Print
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link nav-link_link">
                            {{ mixins.icon('export-arrow') }} Export in CSV/PDF
                        </a>
                    </li>
                </ul>
                <div class="contacts__content">
                    {% for contact in contacts %}
                    <div class="contact-item">
                        <div class="contact-item__shadow">
                            <div class="contact-item__header">
                                <div class="contact-item__icon">
                                    {{ mixins.icon(contact.icon) }}
                                </div>
                                <div class="contact-item__photo">
                                    <img src="temp-upload/photo/{{ contact.photo }}" alt="{{ contact.name }}">
                                </div>
                                <div class="contact-item__person">
                                    <div class="contact-item__name">{{ contact.name }}</div>
                                    <div class="contact-item__additional">{{ contact.additional }}</div>
                                </div>
                                <div class="contact-item__info">
                                    <div class="contact-item__account">{{ contact.account }}</div>
                                    <div class="contact-item__last-transaction">{{ contact.last }}</div>
                                </div>
                                <div class="contact-item__controls">
                                    <a href="#">Edit</a>
                                    <a href="#">Remove</a>
                                    <a href="#" class="contact-item__toggle">History</a>
                                </div>
                            </div>
                        </div>
                        <div class="contact-item__body">
                            <div class="transactions-wrapper">
                                {% for transaction in transactions %}
                                <div class="transaction-item">
                                    <div class="transaction-item__header justify-content-start">
                                        <div class="transaction-item__info">
                                            <div class="transaction-item__title">{{ transaction.title }}</div>
                                            <div class="transaction-item__id">ID: {{ transaction.id }}</div>
                                        </div>
                                        <div class="transaction-item__sum text-success d-flex align-items-center ml-auto">
                                            + €3.00
                                        </div>
                                        <div class="transaction-item__date">
                                            <div class="transaction-item__date_gray transaction-item__date_lh">
                                                {{ transaction.date }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="transaction-item__body">
                                        <div class="transaction-item__body-content">
                                            <a href="#" class="transaction-item__print">
                                                {{ mixins.icon('print') }} Print
                                            </a>
                                            <table class="transaction-item__table">
                                                <tr>
                                                    <td class="transaction-item__label" width="240px">
                                                        IBAN
                                                    </td>
                                                    <td>{{ transaction.iban }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="transaction-item__label">BIC</td>
                                                    <td>{{ transaction.bic }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="transaction-item__label">Name</td>
                                                    <td>{{ transaction.name }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="transaction-item__label">Description</td>
                                                    <td>{{ transaction.description }}</td>
                                                </tr>
                                            </table>
                                            <div class="d-flex justify-content-end flex-row-reverse">
                                                <table class="transaction-item__table ml-5">
                                                    <tr>
                                                        <td class="transaction-item__label" width="240px">
                                                            Created by
                                                        </td>
                                                        <td>Burton Dave Clement</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="transaction-item__label">Authorized by</td>
                                                        <td>John O`neil</td>
                                                    </tr>
                                                </table>
                                                <table class="transaction-item__table mr-5">
                                                    <tr>
                                                        <td class="transaction-item__label" width="240px">
                                                            Counter account
                                                        </td>
                                                        <td>{{ transaction.counterAccount }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="transaction-item__label">Account number</td>
                                                        <td>{{ transaction.accountNumber }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="transaction-item__label">Interest date</td>
                                                        <td>{{ transaction.interestDate }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="transaction-item__label">Balance after transaction
                                                        </td>
                                                        <td>{{ transaction.balanceAfter }}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <button class="btn btn-light" data-popup="#transaction">Repeat transfer
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
