<nav class="navbar navbar-expand-lg header-navbar navbar-light">
    <div class="navbar-container container d-block pr-0">
        <div class="align-items-center flex-nowrap justify-content-between row">
            <div class="col-5 pl-0 d-flex align-items-center">
                <a class="navbar-brand" href="#">
                    <img src="img/logo.png" alt="Elpaso" class="navbar-logo">
                </a>
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" id="switchCompany" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        Apple inc.
                    </a>
                    <div class="dropdown-menu js-dropdown-menu" aria-labelledby="switchCompany">
                        <div class="dropdown-header">Switch Company</div>
                        <ul class="dropdown-list">
                            <li class="dropdown-item">
                                <a class="dropdown-link" href="#">Company settings</a>
                                <ul class="dropdown-list">
                                    <li class="dropdown-item">
                                        <a class="dropdown-link" href="#">Application form</a>
                                        <ul class="dropdown-list">
                                            <li class="dropdown-item">
                                                <a class="dropdown-link" href="#">Private</a>
                                            </li>
                                            <li class="dropdown-item">
                                                <a class="dropdown-link" href="#">Shareholders</a>
                                            </li>
                                            <li class="dropdown-item">
                                                <a class="dropdown-link" href="#">Beneficiaries</a>
                                            </li>
                                            <li class="dropdown-item">
                                                <a class="dropdown-link" href="#">Users</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-item">
                                        <a class="dropdown-link" href="#">Documents</a>
                                        <ul class="dropdown-list">
                                            <li class="dropdown-item">
                                                <a class="dropdown-link" href="#">Private</a>
                                            </li>
                                            <li class="dropdown-item">
                                                <a class="dropdown-link" href="#">Shareholders</a>
                                            </li>
                                            <li class="dropdown-item">
                                                <a class="dropdown-link" href="#">Beneficiaries</a>
                                            </li>
                                            <li class="dropdown-item">
                                                <a class="dropdown-link" href="#">Users</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-item">
                                <a class="dropdown-link" href="#">Terms and Conditions</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="dropdown-link" href="#">Commission profile</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-3 pr-0 d-flex justify-content-end align-items-center">
                <div class="support navbar-icon">
                    <a href="#" class="support-link">
                        {{ mixins.icon('support') }}
                    </a>
                </div>
                <div class="notification navbar-icon">
                    <a href="#" class="notification-btn">
                        {{ mixins.icon('bell') }}
                        <span class="notification-count">7</span>
                    </a>
                </div>
                <div class="profile dropdown">
                    <a href="#" class="profile-link" id="profile" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <span class="profile-avatar">
                            <img src="img/n120B_foto.jpg" alt="avatar">
                        </span>
                    </a>
                    <div class="dropdown-menu js-dropdown-menu dropdown-menu-right" aria-labelledby="profile">
                        <div class="user dropdown-user">
                            <a href="#" class="user-link">
                                <span class="user-avatar">
                                        <img src="img/n120B_foto.jpg" alt="avatar">
                                </span>
                                <span class="user-name">Oleg Kukharuk</span>
                                <span class="user-description">olegkukharuk@gmail.com</span>
                            </a>
                        </div>
                        <div class="dropdown-list">
                            <li class="dropdown-item">
                                <a class="dropdown-link" href="#">Profile settings</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="dropdown-link" href="#">Log out</a>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</nav>
