<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <h4 class="mb-4">Currency Exchange</h4>
                <ul class="list-unstyled">
                    <li class="mb-3">
                        <a href="#" class="btn btn-success" data-popup="#sellGet">
                            Sell / Get
                        </a>
                    </li>
                    <li class="mb-3">
                        <a href="#" class="btn btn-success" data-popup="#confirm">
                            Confirm
                        </a>
                    </li>
                    <li class="mb-3">
                        <a href="#" class="btn btn-success" data-popup="#curencyTimeout">
                            Timeout
                        </a>
                    </li>
                    <li class="mb-3">
                        <a href="#" class="btn btn-success" data-popup="#successMini">
                            Success
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-4">
                <h4 class="mb-4">Other</h4>
                <ul class="list-unstyled">
                    <li class="mb-3">
                        <a href="#" class="btn btn-success" data-popup="#profilepopup">
                            Profile
                        </a>
                    </li>
                    <li class="mb-3">
                        <a href="#" class="btn btn-success" data-popup="#newcontact">
                            Contact
                        </a>
                    </li>
                    <li class="mb-3">
                        <a href="#" class="btn btn-success" data-popup="#transaction">
                            Transaction
                        </a>
                    </li>
                    <li class="mb-3">
                        <a href="#" class="btn btn-success" data-popup="#smsverification">
                            Verify
                        </a>
                    </li>
                    <li class="mb-3">
                        <a href="#" class="btn btn-success" data-popup="#transaction-success">
                            Success
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
