.badge {
    font-size: px2rem(12px);
    font-weight: 500;
    padding: 6px 9px;

    .icon {
        margin-right: 3px;
    }

    &-warning {
        color: $warning-text;
        background-color: $warning-bg;
    }
    &-success {
        color: $green-text;
        background-color: $green-bg;
    }
    &-secondary {
        color: $gray;
        background-color: $secondary-bg;
    }
    &-danger {
        color: $danger-text;
        background-color: $danger-bg;
    }
}
