.dropdown {
    &-toggle {
        color: $black;
        font-size: px2rem(12px);
        text-transform: uppercase;
        padding-right: 20px;
        position: relative;
        display: block;
        &:before, &:after {
            content: '';
            display: block;
            width: 8.3px;
            height: 5px;
            border: none;
            position: absolute;
            top: 0;
            right: 2px;
            transition: all 200ms ease-in-out;
        }
        &:before {
            background: url(../icons/dropdown-up.svg) no-repeat;
            top: 1px;
        }
        &:after {
            background: url(../icons/dropdown-down.svg) no-repeat;
            top: 10px;
        }

        &.remove-icon {
            &:before, &:after {
                display: none;
            }
        }
    }
    &.show {
        .dropdown-toggle {
            &:before {
                top: 6px;
            }
            &:after {
                top: 3px;
            }
        }
    }
    &-option {
        color: $gray;
    }
    &-header {
        text-transform: uppercase;
        padding-left: 15px;
        padding-right: 15px;
    }
    &-list {
        line-height: 13px;
        list-style: none;
        margin: 0;
        padding: 0;
        .dropdown-list {
            margin-top: 5px;
        }
    ;
    }
    &-item {
        font-size: px2rem(12px);
        font-weight: 500;
        text-transform: uppercase;
        padding-left: 15px;
        @include hover {
            background-color: transparent;
        }
    }
    &-link {
        color: $black;
        @include hover {
            color: $black;
        }
    }
    &-menu {
        min-width: 15rem;
        margin-top: 1rem;
        padding-top: 1rem;
        padding-bottom: .6rem;
        border: 1px solid $silver;
        border-radius: 3px;
        box-shadow: $shadow-light;

        &:before, &:after {
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 8px solid $white;
            position: absolute;
            top: -8px;
            left: 20px;
            z-index: 15;
        }

        &:after {
            border-left-width: 6px;
            border-right-width: 6px;
            border-bottom-width: 9px;
            border-bottom-color: $silver;
            top: -9px;
            left: 19px;
            z-index: 10;
        }
        &-right {
            right: 6px;
            &:before {
                border-left-width: 5px;
                border-right-width: 5px;
                border-bottom-width: 4px;
                top: -4px;
                left: auto;
                right: 20px;
            }
            &:after {
                border-left-width: 6px;
                border-right-width: 6px;
                border-bottom-width: 5px;
                top: -5px;
                left: auto;
                right: 19px;
            }
        }
    }
    &-user {
        margin: 0 15px 9px;
        padding-bottom: 12px;
        border-bottom: 1px solid $silver;
    }
}
