h1, .h1 {
    color: $dark-gray;
    font-size: px2rem(36px);

    .icon {
        fill: $dark-gray;
        margin-right: 3px;
        &-notebook {
            width: 22px;
            height: 29px;
            position: relative;
            bottom: 2px;
        }
    }

    & + .lead {
        margin-bottom: 54px;
    }

    & + .desc {
        margin-top: 25px;
        margin-bottom: 27px;
    }
}
.font {
    &-regular {
        font-weight: 400 !important;
    }
}

h5, .h5 {
    color: $dark-gray;
    font-size: px2rem(18px);
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.lead {
    color: $gray;
    font-size: 14px;
}

.desc {
    color: $gray;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
}
