.form-control {
    color: $black;
    font-size: 12px;
    font-weight: 500;
    padding: px2rem(11px) px2rem(12px);
    line-height: 2;
    border: $border-silver;
    border-radius: 4px;
    box-shadow: none;

    @include hard-focus {
        color: $black;
        border: $border-silver;
        box-shadow: none;
    }

    &::-webkit-input-placeholder {
        color: $gray;
        opacity: 1
    }

    &::-moz-placeholder {
        color: $gray;
        opacity: 1
    }

    &:-ms-input-placeholder {
        color: $gray;
        opacity: 1
    }

    &::-ms-input-placeholder {
        color: $gray;
        opacity: 1
    }

    &::placeholder {
        color: $gray;
        opacity: 1
    }

    &.dropdown {
        //padding-right: 12px;
        padding-right: 0;
        .dropdown {
            &-toggle {
                text-decoration: none;
                &:before, &:after {
                    right: 14px;
                }
                &:before {
                    top: 5px;
                }
                &:after {
                    top: 14px;
                }
            }
            &-menu {
                padding: 0;
                margin-top: 11px;
                margin-right: -1px;
                &:before, &:after {
                    display: none;
                }
                &-right {
                    //text-align: right;
                }
            }
            &-item {
                padding: 0;
            }
            &-link {
                display: block;
                text-decoration: none;
                padding: 14px 10px;
                @include hover {
                    background-color: $light;
                }
            }
        }
        &.show {
            .dropdown {
                &-toggle {
                    &:before {
                        top: 10px;
                    }
                    &:after {
                        top: 6px;
                    }
                }
            }
        }
    }

    &-shadow {
        width: 100%;
        position: relative;
        &:before {
            content: '';
            pointer-events: none !important;
            display: block;
            width: 90%;
            height: 11px;
            background: transparent;
            border-radius: 200px/10px;
            box-shadow: $shadow-input;
            z-index: 5;
            position: absolute;
            bottom: 0;
            left: 5%;
        }
        .form-control, .select2, .input-group {
            position: relative;
            z-index: 10;
        }
        &.is-valid {
            .form-control {
                color: darken($green, 18%);
                background-color: lighten($green, 53%);
                border-color: lighten($green, 40%);
                @include hard-focus {
                    background-color: lighten($green, 51%);
                    border-color: lighten($green, 44%);
                    box-shadow: none;
                }
            }
            + .valid-feedback {
                display: block;
                color: $green-text;
            }
        }
        &.is-invalid {
            .form-control {
                color: darken($red, 28%);
                background-color: lighten($red, 55.2%);
                border-color: lighten($red, 51.5%);
                @include hard-focus {
                    background-color: lighten($red, 55.2%);
                    border-color: lighten($red, 51.5%);
                    box-shadow: none;
                }
            }
            + .invalid-feedback {
                display: block;
            }
        }
    }
    &-placeholder {
        display: block;
        cursor: text;
        line-height: 2;
        margin: 0 !important;
        padding: .6875rem .75rem;
        background-color: $white;
        //border: 1px solid transparent;
        position: absolute;
        top: 1px;
        left: 1px;
        z-index: 10;
        b {
            color: $black;
            font-weight: 500;
        }
    }
    &:focus ~ &-placeholder {
        display: none !important;
    }
    &.not-default ~ &-placeholder {
        display: none !important;
    }

    &.is-invalid {
        color: darken($red, 28%);
        background-color: lighten($red, 55.2%);
        border-color: lighten($red, 51.5%);
        @include hard-focus {
            background-color: lighten($red, 55.2%);
            border-color: lighten($red, 51.5%);
            box-shadow: none;
        }
    }
}
