.form-group {
    margin-bottom: px2rem(32px);
    position: relative;

    a {
        text-decoration: underline;
        @include hover {
            text-decoration: none;
        }
    }

    &.is-invalid {
        display: inline-block;
        background-color: rgba($blue, 0.04);
        label {
            color: $blue;
        }
        .invalid-feedback {
            display: inline;
            color: $gray;
            font-size: px2rem(12px);
            text-transform: none;
        }
    }

    label {
        color: $gray;
        font-size: px2rem(12px);
        text-transform: uppercase;
        margin-bottom: px2rem(4px);
    }
    &-label, label.form-group-label {
        cursor: pointer;
        color: $dark-gray;
        font-weight: 500;
        line-height: 2.3;
    }
    .balance {
        font-size: px2rem(12px);
        font-weight: 500;
        line-height: 1.4;
    }

    &-hidden {
        max-height: 0;
        overflow: hidden;
        transition: all 200ms ease-in-out;

        &.toggle {
            max-height: 10000px;
        }
    }
    &-content {
        margin-bottom: 20px;
        padding: 11px 0 1px 24px;
        border-left: 3px solid $silver;
    }

    .link-right {
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        position: absolute;
        top: 2px;
        right: 0;
    }

    &-addon {
        color: $gray;
        font-size: 12px;
        font-weight: 500;
        line-height: 2;
        padding: .6875rem .75rem;
        @include lg {
            width: 50%;
            position: absolute;
            top: 24px;
            left: 100%;
        }
        a {
            text-decoration: none;
            border-bottom: 1px dashed $blue;
        }
        .icon {
            width: 12px;
            margin-right: 5px;
            position: relative;
            top: -1px;
        }
    }
}
