.form-separator {
    margin-bottom: px2rem(31px);
    position: relative;

    &-top {
        position: relative;
        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            margin-top: -1px;
            background-color: $silver;
            position: absolute;
            top: 50%;
            left: 0;
            z-index: 5;
        }
    }
    &-content {
        color: $gray;
        display: inline-block;
        font-size: px2rem(12px);
        text-transform: uppercase;
        line-height: 1;
        padding: 8px 12px 8px 0;
        background-color: $light;
        position: relative;
        z-index: 10;
    }
    &-description {
        color: $gray;
        font-size: px2rem(12px);
    }
}