.search {
    .input {
        &-group {
            &-prepend {

            }
            &-text {
                margin-left: 2px;
                padding: 0;
                background-color: transparent;
                border-color: transparent;
            }
        }
    }
    .form-control {
        min-width: 200px;
        color: $dark-gray;
        font-size: px2rem(12px);
        font-weight: 500;
        padding-left: 12px;
        background-color: transparent;
        border-color: transparent;
        outline: none;
        box-shadow: none;
    }
}