.upload-item {
    display: flex;
    justify-content: start;
    min-height: 96px;
    text-align: left;
    padding-bottom: 23px;
    border-bottom: $border-silver;
    position: relative;
    &_required {
        .upload-item__image {
            position: relative;
            &:before {
                content: '';
                display: block;
                width: 18px;
                height: 18px;
                background-color: $red;
                box-shadow: $shadow-red;
                border-radius: 16px;
                position: absolute;
                top: -2px;
                right: -6px;
                z-index: 5;
            }
            &:after {
                content: '';
                display: block;
                width: 3px;
                height: 9px;
                font-weight: 300;
                background-image: url('data:image/svg+xml;utf8,<svg width="3px" height="9px" viewBox="0 0 3 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-7.000000, -4.000000)" fill="#FFFFFF"><path d="M8.91015625,9.83007812 L7.31054688,9.83007812 L7.05859375,4 L9.16210938,4 L8.91015625,9.83007812 Z M7,11.6464844 C7,11.3574204 7.10449114,11.1201181 7.31347656,10.9345703 C7.52246198,10.7490225 7.78320156,10.65625 8.09570312,10.65625 C8.40820469,10.65625 8.66894427,10.7490225 8.87792969,10.9345703 C9.08691511,11.1201181 9.19140625,11.3574204 9.19140625,11.6464844 C9.19140625,11.9355483 9.08691511,12.1728506 8.87792969,12.3583984 C8.66894427,12.5439462 8.40820469,12.6367188 8.09570312,12.6367188 C7.78320156,12.6367188 7.52246198,12.5439462 7.31347656,12.3583984 C7.10449114,12.1728506 7,11.9355483 7,11.6464844 Z"></path></g></g></svg>');
                position: absolute;
                top: 3px;
                right: 1px;
                z-index: 10;
            }
        }
    }
    &__image {
        width: 60px;
        height: 60px;
        text-align: center;
        margin-right: 12px;
        margin-bottom: 13px;
        padding: 5px;
        border: $border-silver;
        border-radius: 3px;
        img {
            width: auto;
            max-width: unset;
            height: 100%;
        }
        .icon {
            margin-top: 7px;
        }
    }
    &__img-wrap {
        width: 48px;
        height: 48px;
        border-radius: 2px;
        overflow: hidden;
    }
    &__info {
        padding-top: 7px;
        font-size: 12px;
        line-height: 1.2;
    }
    &__title {
        color: $black;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 12px;
    }
    &__description {
        color: $gray;
        line-height: 1.6;
    }
    &__btns {
        text-align: center;
        position: absolute;
        top: 0;
        right: 0;
    }
    &__btn {
        margin-bottom: 0;
    }
    &__remove {
        cursor: pointer;
        display: inline-block;
        font-size: 1rem;
        text-align: center;
        line-height: 1;
        white-space: nowrap;
        vertical-align: middle;
        user-select: none;
        margin-left: 10px;
        padding-left: 10px;
        border: 1px solid transparent;
        border-left: 1px solid $silver;
        border-radius: 0;
        box-shadow: none;
        outline: none;
        @include hard-hover {
            box-shadow: none;
            outline: none;
            .icon {
                fill: $red;
            }
        }
    }
    .btn {
        &-sm {
            font-size: 12px;
            height: 30px;
            padding: 5px 12px;
            .icon {
                fill: $gray;
                margin-right: 2px;
                position: relative;
                top: -1px;
            }
        }
        &-light {
            .icon {
                fill: $dark-gray;
            }
        }
    }
}
