<div class="popup hide" id="newcontact">
    <div class="popup-dialog">
        <button class="popup-close">
            <i class="popup-close-icon"></i>
        </button>
        <div class="popup-content">
            <div class="sms-popup">
                <form action="" class="sms-popup__form" method="post" autocomplete="off">
                    <h1 class="popup__title">New contact</h1>
                    <div class="form-group">
                        <label for="yourFoto">Photo (optional)</label>
                        <div class="upload-file">
                            <div class="upload-file__icon">
                                <img src="img/smile@2x.png" alt="smile" class="upload-file__img">
                            </div>
                            <div class="upload-file__content">
                                <label for="yourFoto" class="upload-file__label">Upload file</label>
                                <span class="upload-file__types">.jpg, .jpeg, .png</span>
                            </div>
                            <input type="file" class="upload-file__input" id="yourFoto">
                        </div>
                    </div>
                    <div class="form-group form-group-max row">
                        <div class="col-lg-5">
                            <label for="contactFullname">Full name</label>
                            <div class="form-control-shadow">
                                <input type="text" class="form-control" id="contactFullname" value="">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label for="contactAlias">Alias</label>
                            <div class="form-control-shadow">
                                <input type="text" class="form-control" id="contactAlias" value="">
                            </div>
                        </div>
                        <div class="col-lg-3 d-flex align-items-center">
                            <a href="#" class="btn btn-link btn-sm mt-4">
                                {{ mixins.icon('star') }} <i>Add to Favorites</i>
                            </a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ibanan">IBAN / Account Number</label>
                        <div class="form-control-shadow">
                            <input type="text" class="form-control" id="ibanan">
                        </div>
                    </div>

                    <div class="form-group form-group-full">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="ipoeu"
                                   data-toggle=".ipoeu">
                            <label class="custom-control-label" for="ipoeu">
                                International Payment (OUTSIDE EU)
                            </label>
                        </div>
                    </div>
                    <div class="form-group-hidden ipoeu">
                        <div class="form-group-content">
                            <div class="form-separator">
                                <div class="form-separator-top">
                                    <div class="form-separator-content">SPECIFY BENEFICIARY DETAILS</div>
                                </div>
                            </div>
                            <div class="form-group form-group-lg row">
                                <div class="col-5">
                                    <label for="Country5">Country</label>
                                    <div class="input-group input-group_icon">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">{{ mixins.icon('search') }}</span>
                                        </div>
                                        <div class="form-control-shadow">
                                            <input type="text" class="form-control autocomplete"
                                                   data-url="countries.html" id="Country5" placeholder="Select country">
                                        </div>
                                        <div class="input-group-append">
                                            <span class="input-group-text">{{ mixins.icon('dropdown') }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <label for="City5">City</label>
                                    <div class="form-control-shadow">
                                        <input type="text" class="form-control" id="City5">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <label for="Post5">Post code</label>
                                    <div class="form-control-shadow">
                                        <input type="text" class="form-control" id="Post5">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-5">
                                <label for="Address35">Address</label>
                                <div class="form-control-shadow">
                                    <input type="text" class="form-control" id="Address35">
                                </div>
                            </div>
                            <div class="form-separator">
                                <div class="form-separator-top">
                                    <div class="form-separator-content">SPECIFY BENEFICIARY BANK</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="BICSWIFT4">BIC/SWIFT</label>
                                <div class="form-control-shadow">
                                    <input type="text" class="form-control" id="BICSWIFT4">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Bank-name4">Bank name</label>
                                <div class="form-control-shadow">
                                    <input type="text" class="form-control" id="Bank-name4">
                                </div>
                            </div>
                            <div class="form-separator">
                                <div class="form-separator-top">
                                    <div class="form-separator-content">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="CORRESPONDENT3">
                                            <label class="custom-control-label" for="CORRESPONDENT3">
                                                SPECIFY CORRESPONDENT BANK (optional)
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="BICSWIFT23">BIC/SWIFT</label>
                                <div class="form-control-shadow">
                                    <input type="text" class="form-control" id="BICSWIFT23">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Bankname23">Bank name</label>
                                <div class="form-control-shadow">
                                    <input type="text" class="form-control" id="Bankname23">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="account23">Corresponding account number</label>
                                <div class="form-control-shadow">
                                    <input type="text" class="form-control" id="account23">
                                </div>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-light mt-2" type="submit">Continue</button>
                </form>
            </div>
        </div>
    </div>
</div>
