<div class="popup hide" id="confirm">
    <div class="popup-dialog popup-dialog_mini">
        <button class="popup-close">
            <i class="popup-close-icon"></i>
        </button>
        <div class="popup-content">
            <div class="exchange">
                <form action="" class="sms-popup__form" method="post" autocomplete="off">
                    <h1 class="popup__title">Currency Exchange</h1>
                    <div class="form-group">
                        <label>Exchange rate</label>
                        <div class="exchange__rate">
                            <span class="int">1</span>$ = <span class="int">0.8722</span>€
                        </div>
                    </div>
                    <div class="exchange__info form-group mb-0">
                        <div class="exchange__col">
                            <label>You sell</label>
                            <span class="int">- 288.00$</span>
                        </div>
                        <div class="exchange__col">
                            <label>You get</label>
                            <span class="int">+ 311.21€</span>
                        </div>
                    </div>
                    <div class="exchange__desc">
                        The exchange rate may change, so the offer is
                        limited in time (30 seconds)
                    </div>
                    <div class="confirm__btns d-flex justify-content-between mt-5">
                        <button class="btn btn-primary" type="submit">Confirm (25 sec left)</button>
                        <button class="btn btn-light btn-mw" type="submit">Back</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
