<div class="popup hide" id="sellGet">
    <div class="popup-dialog popup-dialog_mini">
        <button class="popup-close">
            <i class="popup-close-icon"></i>
        </button>
        <div class="popup-content">
            <div class="exchange">
                <form action="" class="sms-popup__form" method="post" autocomplete="off">
                    <h1 class="popup__title">Currency Exchange</h1>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="form-group-label">I want to</label>
                        </div>
                        <div class="col-md-3">
                            <div class="custom-control custom-radio">
                                <input type="radio" id="sell" name="customRadio" class="custom-control-input" checked>
                                <label class="custom-control-label" for="sell">Sell</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="custom-control custom-radio">
                                <input type="radio" id="get" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label" for="get">Get</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <div class="form-control-shadow">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Amount I have">
                                <div class="dropdown form-control">
                                    <a href="#" class="dropdown-toggle" id="amountIhave" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">
                                        USD <span class="dropdown-option">• 2,031.00</span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right js-dropdown-menu"
                                         aria-labelledby="amountIhave">
                                        <ul class="dropdown-list">
                                            <li class="dropdown-item">
                                                <a class="dropdown-link" href="#">
                                                    EUR <span class="dropdown-option">• 2,031.00</span>
                                                </a>
                                            </li>
                                            <li class="dropdown-item">
                                                <a class="dropdown-link" href="#">
                                                    RUB <span class="dropdown-option">• 2,031.00</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="exchange__icon mb-3">
                        <div class="exchange__arrows">
                            {{ mixins.icon('exchange-arrows') }}
                        </div>
                    </div>
                    <div class="form-group row mb-5">
                        <div class="col-6 d-flex align-items-center">
                            <label for="amountIllget" class="form-group-label">I'll get</label>
                        </div>
                        <div class="col-6 pl-0">
                            <div class="dropdown form-control">
                                <a href="#" class="dropdown-toggle" id="amountIllget" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    EUR <span class="dropdown-option">• 2,031.00</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right js-dropdown-menu"
                                     aria-labelledby="amountIllget">
                                    <ul class="dropdown-list">
                                        <li class="dropdown-item">
                                            <a class="dropdown-link" href="#">
                                                USD <span class="dropdown-option">• 2,031.00</span>
                                            </a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a class="dropdown-link" href="#">
                                                RUB <span class="dropdown-option">• 2,031.00</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block mt-2" type="submit">Request FX Rate</button>
                </form>
            </div>
        </div>
    </div>
</div>
