<div class="popup hide" id="profilepopup">
    <div class="popup-dialog">
        <button class="popup-close">
            <i class="popup-close-icon"></i>
        </button>
        <div class="popup-content">
            <div class="profile-popup">
                <form action="" class="sms-popup__form" method="post" autocomplete="off">
                    <h1 class="popup__title">Your profile</h1>
                    <div class="form-group">
                        <label for="fotoOfYourFoto">Photo (optional)</label>
                        <div class="upload-file">
                            <div class="upload-file__icon">
                                <img src="img/smile@2x.png" alt="smile" class="upload-file__img">
                            </div>
                            <div class="upload-file__content">
                                <label for="fotoOfYourFoto" class="upload-file__label">Upload file</label>
                                <span class="upload-file__types">.jpg, .jpeg, .png</span>
                            </div>
                            <input type="file" class="upload-file__input" id="fotoOfYourFoto">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fullname">Full name</label>
                        <div class="form-control-shadow">
                            <input type="text" class="form-control" id="fullname" value="Jon Doe">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <div class="form-control-shadow">
                            <input type="text" class="form-control" id="email" value="i@elpaso.us">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mobi-phone">Mobile</label>
                        <div class="form-control-shadow">
                            <input type="text" class="form-control not-default" id="mobi-phone" value="+380987654321"
                                   data-default="+" pattern="[0-9+]">
                            <label class="form-control-placeholder" for="mobi-phone"><b>+</b>XX XXX XXX XXXX</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="accountDef">Default account</label>
                        <div class="form-control-shadow">
                            <select class="form-control select2" name="account" id="accountDef">
                                <option value="single">GB 17 ELPA 123456 USD</option>
                                <option value="couple">GB 17 ELPA 123456 EUR</option>
                                <option value="couple">GB 17 ELPA 123456 PLN</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-group-full">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="change-password"
                                   data-toggle=".change-password">
                            <label class="custom-control-label" for="change-password">
                                Change password
                            </label>
                        </div>
                    </div>
                    <div class="form-group-hidden change-password">
                        <div class="form-group-content">
                            <div class="form-group">
                                <label for="current-password">Current password</label>
                                <div class="form-control-shadow">
                                    <input type="password" class="form-control" id="current-password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="new-password">New password</label>
                                <div class="form-control-shadow">
                                    <input type="password" class="form-control" id="new-password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="confirm-new-password">Confirm new password</label>
                                <div class="form-control-shadow">
                                    <input type="password" class="form-control" id="confirm-new-password">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary mt-2" type="submit">Save changes</button>
                    <br>
                    <div class="d-flex align-items-center mt-4">
                        <button class="btn btn-light btn-large mr-2" type="submit">{{ mixins.icon('approve') }}</button>
                        <div class="text-light">Your changes will be applied after verification. Follow the link from email.</div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
