<div class="popup hide" id="smsverification">
    <div class="popup-dialog popup-dialog_mini">
        <button class="popup-close">
            <i class="popup-close-icon"></i>
        </button>
        <div class="popup-content">
            <div class="sms-popup">
                <form action="" class="sms-popup__form" method="post" autocomplete="off">
                    <h1>SMS Verification</h1>
                    <div class="desc">
                        SMS with verification code was sent on your number
                        +123 • • • • • • • 39. Please, type code from SMS into
                        field below.
                    </div>
                    <div class="form-group">
                        <div class="form-control-shadow">
                            <input type="text" class="form-control" id="code-for-sms" placeholder="Code from sms">
                        </div>
                    </div>
                    <button class="btn btn-primary mt-2" type="submit">Submit</button>
                    <button class="btn btn-link mt-2" type="submit">Resend SMS</button>
                </form>
            </div>
        </div>
    </div>
</div>
