<div class="popup hide" id="successMini">
    <div class="popup-dialog popup-dialog_mini">
        <button class="popup-close">
            <i class="popup-close-icon"></i>
        </button>
        <div class="popup-content">
            <!-- add hide class for hide popup-out -->
            <div class="popup-out">
                <div class="successfull mx-auto">
                    <div class="successfull__ring">
                        <div class="progress-ring progress-ring_empty"></div>
                        <div class="successfull__value">
                            <svg class="icon icon-big-approve" width="43px" height="30px" viewBox="0 0 49 36" version="1.1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                                   stroke-linecap="round" stroke-linejoin="round">
                                    <g id="CurrencyExchange-Popup-(confirm-accepted)"
                                       transform="translate(-360.000000, -221.000000)" stroke="#4CE001"
                                       stroke-width="5">
                                        <g id="Group" transform="translate(324.000000, 178.000000)">
                                            <polyline id="Line" points="39 61 53.5852888 76 81.5846915 46"></polyline>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="successfull__text">
                        Successful exchange!
                    </div>
                    <button type="button" class="btn btn-primary">Done</button>
                </div>
            </div>
            <div class="sms-popup">
                <form action="" class="sms-popup__form" method="post" autocomplete="off">
                    <h1>SMS Verification</h1>
                    <div class="desc">
                        SMS with verification code was sent on your number
                        +123 • • • • • • • 39. Please, type code from SMS into
                        field below.
                    </div>
                    <div class="form-group">
                        <div class="form-control-shadow">
                            <input type="text" class="form-control" id="sms-code" placeholder="Code from sms">
                        </div>
                    </div>
                    <button class="btn btn-primary mt-2" type="submit">Submit</button>
                    <button class="btn btn-link mt-2" type="submit">Resend SMS</button>
                </form>
            </div>
        </div>
    </div>
</div>
