<div class="popup hide" id="curencyTimeout">
    <div class="popup-dialog popup-dialog_mini">
        <button class="popup-close">
            <i class="popup-close-icon"></i>
        </button>
        <div class="popup-content">
            <div class="sms-popup">
                <form action="" class="sms-popup__form" method="post" autocomplete="off">
                    <h1>Currency Exchange</h1>
                    <div class="popup-timeout successfull">
                        <div class="successfull__ring">
                            <svg class="progress-ring" width="130" height="130">
                                <circle class="progress-ring__bg" stroke="#D8D8D8" stroke-width="1" fill="transparent"
                                        r="60" cx="65" cy="65"></circle>
                                <circle class="progress-ring__circle" id="progress-ring__circle" stroke="#999"
                                        stroke-width="3" fill="transparent" r="60" cx="65" cy="65"></circle>
                            </svg>
                            <div class="successfull__value">45</div>
                        </div>
                        <div class="successfull__text">
                            Here is should be text with
                            explain, what do we wait for?
                        </div>
                        <button type="button" class="btn btn-light">Cancel</button>
                    </div>
                    <div class="text-center mt-5">
                        <button type="button" class="btn btn-primary ring-demo">Demo ring</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
