<div class="popup hide" id="transaction">
    <div class="popup-dialog">
        <button class="popup-close">
            <i class="popup-close-icon"></i>
        </button>
        <div class="popup-content">
            <div class="transaction">
                <form action="" class="transaction-form" method="post" autocomplete="off">
                    <div class="transaction-template">
                        <div class="input-group input-group_icon">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{ mixins.icon('search') }}</span>
                            </div>
                            <div class="form-control-shadow">
                                <input type="text" class="form-control autocomplete" data-url="templates.html"
                                       id="choose-template" placeholder="Choose template">
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text">{{ mixins.icon('dropdown') }}</span>
                            </div>
                        </div>
                    </div>
                    <h1 class="transaction-title">New transaction</h1>
                    <div class="transaction-id">
                        <span class="transaction-label">TransactionID</span>
                        0123456789
                    </div>

                    <div class="transaction-accounts">
                        {% for account in accounts %}
                        <div class="account-item">
                            <input type="radio" name="account" value="{{ account.id }}" id="check-{{ account.id }}"
                                   class="account-item-checkbox" {% if account.id== 'GB17ELPA123456USD' %}checked{%
                            endif %}>
                            <label class="account-item-label" for="check-{{ account.id }}">
                                <span class="account-item-mount">
                                    <span class="float">{{ account.mount }}</span>
                                    <span class="symbol">{{ account.symbol }}</span>
                                </span>
                                <span class="account-item-number">{{ account.id }}</span>
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="something-name">BENEFICIARY Name</label>
                        <div class="input-group">
                            <div class="form-control-shadow">
                                <input type="text" class="form-control autocomplete" data-url="search.html"
                                       id="something-name" placeholder="Type beneficiary name or find in address book..."
                                       autocomplete="nope">
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text">{{ mixins.icon('notebook') }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="accountIban">IBAN / Account Number</label>
                        <div class="form-control-shadow is-invalid">
                            <input type="text" class="form-control" id="accountIban" value="Text">
                        </div>
                        <div class="invalid-feedback">
                            Please type IBAN / Account Number
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12">
                            <label for="amounton">Amount</label>
                        </div>
                        <div class="col-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <div class="form-control-shadow">
                                    <input type="number" step="0.01" class="form-control" id="amounton" value="280.00">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="balance mt-2">$1,751</div>
                            <label for="amount">your Balance after transaction</label>
                        </div>
                    </div>
                    <div class="form-group mb-5">
                        <label for="payment-description-f">Payment description</label>
                        <div class="form-control-shadow">
                            <textarea id="payment-description-f" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group form-group-full">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="internationald"
                                   data-toggle=".toggle-international">
                            <label class="custom-control-label" for="internationald">
                                International Payment (OUTSIDE EU)
                                <span class="invalid-feedback">
                                — Your IBAN number is international, so you need click here and fill all fields
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group-hidden toggle-international">
                        <div class="form-group-content">
                            <div class="form-separator">
                                <div class="form-separator-top">
                                    <div class="form-separator-content">SPECIFY BENEFICIARY DETAILS</div>
                                </div>
                            </div>
                            <div class="form-group form-group-lg row">
                                <div class="col-5">
                                    <label for="Country3">Country</label>
                                    <div class="input-group input-group_icon">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">{{ mixins.icon('search') }}</span>
                                        </div>
                                        <div class="form-control-shadow">
                                            <input type="text" class="form-control autocomplete"
                                                   data-url="countries.html" id="Country3" placeholder="Select country">
                                        </div>
                                        <div class="input-group-append">
                                            <span class="input-group-text">{{ mixins.icon('dropdown') }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <label for="City1">City</label>
                                    <div class="form-control-shadow">
                                        <input type="text" class="form-control" id="City1">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <label for="Posted">Post code</label>
                                    <div class="form-control-shadow">
                                        <input type="text" class="form-control" id="Posted">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-5">
                                <label for="Addressss">Address</label>
                                <div class="form-control-shadow">
                                    <input type="text" class="form-control" id="Addressss">
                                </div>
                            </div>
                            <div class="form-separator">
                                <div class="form-separator-top">
                                    <div class="form-separator-content">SPECIFY BENEFICIARY BANK</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="zzzBICSWIFT">BIC/SWIFT</label>
                                <div class="form-control-shadow">
                                    <input type="text" class="form-control" id="zzzBICSWIFT">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Bank-nameddd">Bank name</label>
                                <div class="form-control-shadow">
                                    <input type="text" class="form-control" id="Bank-nameddd">
                                </div>
                            </div>
                            <div class="form-separator">
                                <div class="form-separator-top">
                                    <div class="form-separator-content">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="CORRESPONDENTlll">
                                            <label class="custom-control-label" for="CORRESPONDENTlll">
                                                SPECIFY CORRESPONDENT BANK (optional)
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-separator-description">
                                    Name of template will available in search and you’ll<br>
                                    could easier to send transfers to saved accounts.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="BICSWIFT232">BIC/SWIFT</label>
                                <div class="form-control-shadow">
                                    <input type="text" class="form-control" id="BICSWIFT232">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Bankname2332">Bank name</label>
                                <div class="form-control-shadow">
                                    <input type="text" class="form-control" id="Bankname2332">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="account22korovi">Corresponding account number</label>
                                <div class="form-control-shadow">
                                    <input type="text" class="form-control" id="account22korovi">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group-full is-invalid">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="international-invalid-1">
                            <label class="custom-control-label" for="international-invalid-1">
                                International Payment (OUTSIDE EU)
                                <span class="invalid-feedback">
                                — Your IBAN number is international, so you need click here and fill all fields
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group form-group-lg row">
                        <div class="col-6">
                            <div class="custom-control custom-checkbox mt-2">
                                <input type="checkbox" class="custom-control-input" id="save-in-template">
                                <label class="custom-control-label" for="save-in-template">Save in template</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" placeholder="Name of template">
                            <small id="templateNameHelp" class="form-text text-muted">
                                Name of template will available in search and you’ll
                                could easier to send transfers to saved accounts.
                            </small>
                        </div>
                    </div>
                    <button class="btn btn-primary mt-2" type="submit">Continue</button>
                    <button class="btn btn-primary disabled mt-2" type="submit">Continue</button>
                </form>
            </div>
        </div>
    </div>
</div>
