.ui-menu {
    &-item, .ui-menu-item {
        display: block;

        &-wrapper {
            min-height: 24px;
            margin: 0;
            padding: 12px 6px;
            border: 1px solid transparent;
            border-bottom-color: $silver;

            &.ui-state-active {
                color: $dark-gray;
                margin: 0;
                padding: 12px 6px;
                background-color: lighten($blue, 40%);
                border-color: transparent;
                border-bottom-color: lighten($blue, 40%);;
            }
        }
        &-image {
            margin-right: 10px;
            float: left;

            img {
                width: 24px;
                height: 24px;
            }
        }
        &-content {

        }
        &-name {
            display: inline;
        }
        &-alias {
            color: $gray;
            display: inline;
            margin-left: 5px;
        }
    }
}