.ui-autocomplete {
    //display: block !important;
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;

    padding: 10px;
    background-color: $white;
    border-radius: 3px;

    &-counter {
        color: $gray;
        font-size: px2rem(12px);
        margin-bottom: 5px;
    }
}