<section class="section information">
    <div class="container">
        <div class="row">
            <div class="section-block w-100 px-0">

                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Fee type</th>
                        <th>Currency</th>
                        <th>Fee type</th>
                        <th>% of payment amount</th>
                        <th>Fee amount (min)</th>
                        <th>Fee amount (max)</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><h4>A. Account administration</h4></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>1. Account opening fee (one-time)</td>
                        <td>EUR</td>
                        <td>Fixed</td>
                        <td></td>
                        <td>
                            <input type="text" class="form-control" value="10">
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2. Maintenance fee (monthly)</td>
                        <td>EUR</td>
                        <td>Fixed</td>
                        <td></td>
                        <td>
                            <input type="text" class="form-control" value="10">
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2. Maintenance fee (monthly)</td>
                        <td>EUR</td>
                        <td>Fixed</td>
                        <td>
                            <select class="form-control select2" name="mr" id="mr">
                                <option value="mr">USD</option>
                                <option value="mrs">EUR</option>
                                <option value="ms">PLN</option>
                            </select>
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                            <button class="btn btn-increment">
                                +
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>2. Maintenance fee (monthly)</td>
                        <td>EUR</td>
                        <td>Fixed</td>
                        <td>
                            <select class="form-control select2" name="mr" id="mr">
                                <option value="mr">USD</option>
                                <option value="mrs">EUR</option>
                                <option value="ms">PLN</option>
                            </select>
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                            <button class="btn btn-decrement">
                                –
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</section>
