<section class="section">
    <div class="container">
        <div class="progress-line row">
            <div class="progress-line__in">
                <ul class="progress-line__list">
                    {% for i in range(1, 9) %}
                    <li style="width: {{ 100/8 }}%"
                        class="progress-line__item {% if i==1 or i==2 or i==4 or i==6 or i==7 %}check{% endif %}{% if i==3 %}fail{% endif %}{% if i==4 %} gray{% endif %}{% if i==5 %}active{% endif %} line"
                        data-id="{{i}}">
                        <i class="progress-line__icon"></i>
                        Type something
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
