<section class="section chart">
    <div class="container">
        <div class="row">
            <ul class="nav nav-pills mx-auto" id="chart" role="tablist">
                {% for tab in charts %}
                <li class="nav-item">
                    <div class="dropdown nav-dropdown">
                        <a href="#" class="dropdown-toggle remove-icon" id="switchCompany-{{ tab.id }}" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            {{ mixins.icon('burger-dots') }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="switchCompany-{{ tab.id }}">
                            <ul class="dropdown-list">
                                <li class="dropdown-item">
                                    <a class="dropdown-link" href="#">Exchange currency</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="dropdown-link" href="#">Account Settings</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a class="nav-link {% if tab.id == 2 %}active{% endif %}" id="{{ tab.cur }}-tab" data-toggle="tab"
                       href="#{{ tab.cur }}" role="tab" aria-controls="{{ tab.cur }}" aria-selected="true">
                        <span class="float">{{ tab.float }}</span>
                        <span class="symbol">{{ tab.symbol }}</span>
                        <span class="nav-text">{{ tab.text }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
            <div class="tab-content tab-content-block" id="chartContent">
                {% for tab in charts %}
                <div class="tab-pane fade {% if tab.id == 2 %}show active{% endif %}" id="{{ tab.cur }}" role="tabpanel"
                     aria-labelledby="{{ tab.cur }}-tab">
                    {{ tab.content | safe }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
