<section class="section inbox">
    <div class="container">
        <div class="row">
            <div class="section-block col-12">
                <div class="section-title">{{ mixins.icon('inbox') }} Transactions require your approval</div>
                <table class="task-list">
                    {% for task in taskLists %}
                    <tr class="task-list__item">
                        <td width="42px">
                            <div class="custom-control custom-checkbox task-list__checkbox">
                                <input type="checkbox" class="custom-control-input" id="taskCheck-{{ task.id }}">
                                <label class="custom-control-label" for="taskCheck-{{ task.id }}"></label>
                            </div>
                        </td>
                        <td width="50%">
                            <div class="task-list__title float-left mr-5">{{ task.fromTitle }}</div>
                            <div class="float-left mr-4">{{ mixins.icon('arrow-right') }}</div>
                            <div class="task-list__title">{{ task.toTitle }}</div>
                            {{ task.fromText | safe }}
                        </td>
                        <td width="25%">
                            <div class="task-list__sum">
                                {{ task.symbol }}{{ task.sum }}
                            </div>
                        </td>
                        <td>
                            <div class="task-list__view">
                                <a href="#">View & Change</a>
                            </div>
                        </td>
                        <td class="task-list__btns text-right">
                            <button class="btn btn-icon btn-sm btn-light">{{ mixins.icon('approve') }}</button>
                            <button class="btn btn-icon btn-sm btn-light">{{ mixins.icon('decline') }}</button>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <div class="section-bottom clearfix">
                    <button class="btn btn-light float-right">{{ mixins.icon('approve') }} Approve selected</button>
                    <div class="section-check-all float-left">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="check-all" data-target=".task-list__checkbox input">
                            <label class="custom-control-label" for="check-all"></label>
                            <a href="#" class="custom-control-select" data-target=".task-list__checkbox input">Select all</a>
                            /
                            <a href="#" class="custom-control-deselect" data-target=".task-list__checkbox input">Deselect all</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
