<section class="section transactions">
    <div class="container">
        <div class="row">
            <div class="w-100">
                <ul class="nav nav-tabs transactions-tabs" id="chart" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="transaction-tab" data-toggle="tab" href="#transactions"
                           role="tab" aria-controls="transactions" aria-selected="true">
                            Transactions
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="orders-tab" data-toggle="tab" href="#orders" role="tab"
                           aria-controls="orders" aria-selected="true">
                            Orders
                        </a>
                    </li>
                    <li class="nav-item ml-auto">
                        <a href="#" class="nav-link nav-link_link">
                            {{ mixins.icon('print') }} Print
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link nav-link_link">
                            {{ mixins.icon('export-arrow') }} Export report
                        </a>
                    </li>
                </ul>
                <div class="tab-content" id="transactionContent">
                    <div class="transactions-pane tab-pane fade show active" id="transactions" role="tabpanel"
                         aria-labelledby="transactions-tab">
                        <div class="transactions-filters">
                            <div class="search filter filter-search">
                                <form action="/some-ajax-url" class="search-form" method="get">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">{{ mixins.icon('search') }}</div>
                                        </div>
                                        <input type="text" class="form-control"
                                               placeholder="Search by name, email or alias">
                                    </div>
                                </form>
                            </div>
                            <div class="filter">
                                <label class="filter-label">Period</label>
                                <div class="filter-field">
                                    <div class="datepicker">
                                <span class="datepicker-picker" data-target="daterangepicker">
                                    <span>All transactions</span> {{ mixins.icon('calendar') }}
                                </span>
                                    </div>
                                </div>
                            </div>
                            <div class="filter">
                                <label class="filter-label">Type</label>
                                <div class="filter-field">
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-toggle" id="switchCompany" data-toggle="dropdown"
                                           aria-haspopup="true" aria-expanded="false">
                                            Expenses only
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="switchCompany">
                                            <ul class="dropdown-list">
                                                <li class="dropdown-item">
                                                    <a class="dropdown-link" href="#">Terms and Conditions</a>
                                                </li>
                                                <li class="dropdown-item">
                                                    <a class="dropdown-link" href="#">Commission profile</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content-block transactions-content">
                            <div class="transactions-title">Today</div>
                            <div class="transactions-wrapper">
                                {% for transaction in transactions %}
                                <div class="transaction-item">
                                    <div class="transaction-item__header">
                                        <div class="transaction-item__logo">
                                            <img src="{{ transaction.logo }}" alt="Starbucks">
                                        </div>
                                        <div class="transaction-item__info">
                                            <div class="transaction-item__title">{{ transaction.title }}</div>
                                            <div class="transaction-item__id">{{ transaction.accountNumber }}</div>
                                        </div>
                                        <div class="transaction-item__status d-flex align-items-top pt-2">
                                            <div class="transaction-item__id">ID: {{ transaction.id }}</div>
                                        </div>
                                        <div class="transaction-item__sum text-success">
                                            + €3.00
                                        </div>
                                        <div class="transaction-item__date">
                                            <div class="transaction-item__date_gray transaction-item__date_lh">
                                                {{ transaction.date }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="transaction-item__body">
                                        <div class="transaction-item__body-content">
                                            <a href="#" class="transaction-item__print">
                                                {{ mixins.icon('print') }} Print
                                            </a>
                                            <table class="transaction-item__table">
                                                <tr>
                                                    <td class="transaction-item__label" width="240px">
                                                        IBAN
                                                    </td>
                                                    <td>{{ transaction.iban }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="transaction-item__label">BIC</td>
                                                    <td>{{ transaction.bic }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="transaction-item__label">Name</td>
                                                    <td>{{ transaction.name }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="transaction-item__label">Description</td>
                                                    <td>{{ transaction.description }}</td>
                                                </tr>
                                            </table>
                                            <div class="d-flex justify-content-end flex-row-reverse flex-wrap">
                                                <table class="transaction-item__table pml-lg-5">
                                                    <tr>
                                                        <td class="transaction-item__label" width="240px">
                                                            Created by
                                                        </td>
                                                        <td>Burton Dave Clement</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="transaction-item__label">Authorized by</td>
                                                        <td>John O`neil</td>
                                                    </tr>
                                                </table>
                                                <table class="transaction-item__table mr-5">
                                                    <tr>
                                                        <td class="transaction-item__label" width="240px">
                                                            Counter account
                                                        </td>
                                                        <td>{{ transaction.counterAccount }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="transaction-item__label">Account number</td>
                                                        <td>{{ transaction.accountNumber }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="transaction-item__label">Interest date</td>
                                                        <td>{{ transaction.interestDate }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="transaction-item__label">Balance after transaction
                                                        </td>
                                                        <td>{{ transaction.balanceAfter }}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <button class="btn btn-light" data-popup="#transaction">Repeat transfer
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                        <div class="transactions-filters">
                            <div class="search filter filter-search">
                                <form action="/some-ajax-url" class="search-form" method="get">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">{{ mixins.icon('search') }}</div>
                                        </div>
                                        <input type="text" class="form-control"
                                               placeholder="Search by name, email or alias">
                                    </div>
                                </form>
                            </div>
                            <div class="filter">
                                <label class="filter-label">Period</label>
                                <div class="filter-field">
                                    <div class="datepicker">
                                <span class="datepicker-picker" data-target="daterangepicker">
                                    <span>All orders</span> {{ mixins.icon('calendar') }}
                                </span>
                                    </div>
                                </div>
                            </div>
                            <div class="filter">
                                <label class="filter-label">Type</label>
                                <div class="filter-field">
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-toggle" id="switchCompany3" data-toggle="dropdown"
                                           aria-haspopup="true" aria-expanded="false">
                                            Expenses only
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="switchCompany3">
                                            <ul class="dropdown-list">
                                                <li class="dropdown-item">
                                                    <a class="dropdown-link" href="#">Terms and Conditions</a>
                                                </li>
                                                <li class="dropdown-item">
                                                    <a class="dropdown-link" href="#">Commission profile</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content-block transactions-content">
                            <div class="transactions-title">Today</div>
                            <div class="transactions-wrapper">
                                {% for transaction in transactions %}
                                <div class="transaction-item">
                                    <div class="transaction-item__header">
                                        <div class="transaction-item__logo">
                                            <img src="{{ transaction.logo }}" alt="Starbucks">
                                        </div>
                                        <div class="transaction-item__info">
                                            <div class="transaction-item__title">{{ transaction.title }}</div>
                                            <div class="transaction-item__id">
                                                {% if transaction.statusClass === 'secondary' %}
                                                {{ transaction.description }}
                                                {% else %}
                                                TransactionID: {{ transaction.id }}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="transaction-item__status pt-1">
                                            <span class="badge badge-{{ transaction.statusClass }}">
                                                {% if transaction.statusClass == 'secondary' %}
                                                    {{ mixins.icon('clock') }}
                                                {% endif %}
                                                {{ transaction.status }}
                                            </span>
                                        </div>
                                        <div class="transaction-item__sum {% if transaction.sumClass != '' %}{{ transaction.sumClass }}{% endif %}">
                                            {{ transaction.sum }}
                                        </div>
                                        <div class="transaction-item__date">
                                            <div class="transaction-item__date_gray">{{ transaction.date }}</div>
                                            <div class="transaction-item__date_black">
                                                by Burton D. C.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="transaction-item__body">
                                        <div class="transaction-item__body-content">
                                            <a href="#" class="transaction-item__print">
                                                {{ mixins.icon('print') }} Print
                                            </a>
                                            <table class="transaction-item__table">
                                                <tr>
                                                    <td class="transaction-item__label" width="240px">
                                                        IBAN
                                                    </td>
                                                    <td>{{ transaction.iban }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="transaction-item__label">BIC</td>
                                                    <td>{{ transaction.bic }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="transaction-item__label">Name</td>
                                                    <td>{{ transaction.name }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="transaction-item__label">Description</td>
                                                    <td>{{ transaction.description }}</td>
                                                </tr>
                                            </table>
                                            <div class="d-flex justify-content-end flex-row-reverse flex-wrap">
                                                <table class="transaction-item__table ml-lg-5">
                                                    <tr>
                                                        <td class="transaction-item__label" width="240px">
                                                            Created by
                                                        </td>
                                                        <td>Burton Dave Clement</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="transaction-item__label">Authorized by</td>
                                                        <td>John O`neil</td>
                                                    </tr>
                                                </table>
                                                <table class="transaction-item__table mr-5">
                                                    <tr>
                                                        <td class="transaction-item__label" width="240px">
                                                            Counter account
                                                        </td>
                                                        <td>{{ transaction.counterAccount }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="transaction-item__label">Account number</td>
                                                        <td>{{ transaction.accountNumber }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="transaction-item__label">Interest date</td>
                                                        <td>{{ transaction.interestDate }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="transaction-item__label">Balance after transaction
                                                        </td>
                                                        <td>{{ transaction.balanceAfter }}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <button class="btn btn-light" data-popup="#transaction">
                                                Repeat transfer
                                            </button>
                                            <button class="btn btn-light float-right ml-3" data-popup="#transaction">
                                                Remove
                                            </button>
                                            <button class="btn btn-light float-right" data-popup="#transaction">
                                                Change
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
