{% import "partials/_mixins.html" as mixins %}

<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" media="all" href="node_css/bootstrap.min.css"/>
    <link rel="stylesheet" media="all" href="node_css/select2.min.css"/>
    <link rel="stylesheet" media="all" href="node_css/daterangepicker.css"/>
    <link rel="stylesheet" media="all" href="node_css/bootstrap-datepicker.css"/>
    <link rel="stylesheet" media="all" href="css/app.css?ver=1.0"/>
    <meta name="theme-color" content="#000000"/>
</head>

<body>

<!-- BEGIN content -->
<div class="out">
    {% block content %}{% endblock %}
</div>
<!-- END content -->

{% include "partials/popups/_trans.html" %}
{% include "partials/popups/_sms.html" %}
{% include "partials/popups/_trans-success.html" %}
{% include "partials/popups/_get.html" %}
{% include "partials/popups/_contact.html" %}
{% include "partials/popups/_confirm.html" %}
{% include "partials/popups/_timeout.html" %}
{% include "partials/popups/_success.html" %}
{% include "partials/popups/_profile.html" %}

<!-- BEGIN scripts -->
<script type="text/javascript" src="node_libs/jquery.min.js"></script>
<script type="text/javascript" src="lib/jquery-ui.min.js"></script>
<script type="text/javascript" src="node_libs/jquery.cookie.js"></script>
<script type="text/javascript" src="node_libs/popper.min.js"></script>
<script type="text/javascript" src="node_libs/bootstrap.min.js"></script>
<script type="text/javascript" src="node_libs/Chart.min.js"></script>
<script type="text/javascript" src="node_libs/select2.min.js"></script>
<script type="text/javascript" src="node_libs/moment.min.js"></script>
<script type="text/javascript" src="node_libs/daterangepicker.js"></script>
<script type="text/javascript" src="node_libs/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<!-- END scripts -->
</body>
</html>
