html, body {
    height: 100%;
}

body {
    color: $dark-gray;
    height: 100%;
    font-size: px2rem(14px);
    font-family: 'Roboto', Verdana;
    background-color: $body;
}

.out {
    height: 100%;
    transition: all 300ms ease-in-out;
    body.blur & {
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
    }
}

a {
    color: $blue;
    @include hard-hover {
        color: darken($blue, 20);
    }
}

img {
    max-width: 100%;
}
