.section {
    &.chart {
        margin-top: 59px;
    }
    &.transactions {
        margin-top: 88px;
    }
    &-block {
        background-color: $white;
        box-shadow: $shadow-light;
        padding: 0 22px 0 23px;
    }
    &-bottom {
        margin-top: 5px;
        padding-top: 22px;
        padding-bottom: 35px;
        border-top: $border-light;
    }
    &-title {
        color: $dark-gray;
        font-size: px2rem(18px);
        font-weight: 500;
        margin: 18px 2px 29px;
        padding-bottom: 15px;
        border-bottom: $border-light;

        .icon {
            margin-right: 5px;
            position: relative;
            top: -1px;
        }
    }
    &-check-all {
        padding: 10px 18px 14px 18px;
        background-color: $light;
        border: $border-light;
        border-radius: 2px;
    }
}