.icon {
    fill: $gray;
    width: 20px;
    height: 20px;
    position: relative;
    transition: all 200ms ease-in-out;

    &-support {
        width: 18px;
        height: 18px;
    }
    &-bell {
        width: 17px;
        height: 18px;
    }
    &-inbox {
        width: 20px;
        height: 16px;
    }
    &-approve {
        fill: $green;
        width: 15px;
        height: 12px;
    }
    &-big-approve {
        fill: $green;
        width: 42px;
        height: 30px;
    }
    &-decline {
        fill: $red;
        width: 15px;
        height: 12px;
        position: relative;
        top: -1px;
    }
    &-arrow-right {
        fill: $silver;
        width: 24px;
        height: 15px;
    }
    &-burger-dots {
        fill: $black;
        width: 4px;
        height: 16px;
    }
    &-print {
        width: 12px;
        height: 12px;
        position: relative;
        top: -1px;
    }
    &-export-arrow {
        width: 12px;
        height: 9px;
    }
    &-search {
        width: 12px;
        height: 12px;
    }
    &-calendar {
        width: 12px;
        height: 13px;
        top: -2px;
    }
    &-dropdown {
        width: 9px;
        height: 15px;
    }
    &-plus {
        fill: #fff;
        width: 20px;
        height: 20px;
    }
    &-trash {
        width: px2rem(12px);
        height: 16px;
    }
    &-upload {
        fill: $white;
        width: 10px;
    }
    &-file, &-file-view {
        width: 19px;
        height: 24px;
    }
    &-smile {
        fill: transparent;
    }
    &-clock {
        width: 14px;
        height: 14px;
    }
    &-pin {
        width: 18px;
        height: 18px;
    }
    &-exchange-arrows {
        width: 13px;
        height: 17px;
    }
    &-upload-add, &-upload-exist {
        width: 34px;
        height: 36px;
    }
}
