.information {
    &__in {
        max-width: 480px;
        margin: 0 auto;
        padding-top: 61px;
        padding-bottom: 100px;

        @include xl {
            margin-left: 278px;
        }
    }
}
