.select2 {
    outline: none !important;
    box-shadow: none;
    @include hard-hover {
        outline: none !important;
        box-shadow: none;
    }
    &-selection {
        box-shadow: none !important;
        outline: none !important;
    }
    &-container {
        width: 100% !important;
        &--default {
            .select2-results__option[aria-selected=true] {
                background-color: $light-silver;
            }
            .select2-results__option--highlighted[aria-selected] {
                background-color: $blue;
            }
        }
        &.select2-container--focus .select2-selection--multiple {
            border: $border-silver;
        }
        .select2-selection--single,
        .select2-selection--multiple {
            height: 48px;
            border: $border-silver;
            border-radius: 4px;
            .select2-selection {
                &__rendered {
                    color: $dark-gray;
                    font-weight: 500;
                    line-height: 1.8;
                    padding: .6875rem .75rem;
                }
                &__arrow {
                    height: 46px;
                    b {
                        display: inline-block;
                        width: 9px;
                        height: 15px;
                        margin: 0;
                        background-image: url('data:image/svg+xml;utf8,<svg width="9px" height="15px" viewBox="0 0 9 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-287.000000, -17.000000)" fill="#999999"><g transform="translate(179.952562, 0.000000)"><g transform="translate(107.047438, 17.000000)"><polygon points="0 11.1628453 1.22144742 10 4.16666667 12.7232766 7.13446223 10 8.33333333 11.1628453 4.16666667 15"></polygon><polygon transform="translate(4.166667, 2.500000) scale(1, -1) translate(-4.166667, -2.500000) " points="0 1.16284533 1.22144742 0 4.16666667 2.72327657 7.13446223 0 8.33333333 1.16284533 4.16666667 5"></polygon></g></g></g></g></svg>');
                        border: none;
                        position: relative;
                        top: 15px;
                        left: 0;
                    }
                }
            }
        }
        .select2-selection--multiple {
            .select2-selection__choice {
                margin-right: 0;
                margin-top: 0;
                padding-left: 0;
                background-color: transparent;
                border-color: transparent;
                &:after {
                    content: ',';
                }
                &:last-child:not(.select2-search) {
                    &:after {
                        display: none;
                    }
                }
            }
        }
        .select2-search--inline {
            .select2-search__field {
                margin-top: 0;
            }
        }
    }
    &-dropdown {
        border: $border-silver;
    }
}
