.task-list {
    color: $gray;
    width: 100%;
    font-size: px2rem(12px);
    font-weight: 500;

    &__item {
        vertical-align: top;
        line-height: 1.4;

        td {
            padding-bottom: 47px;
        }
        p {
            margin-bottom: 0;
        }
        a {
            text-decoration: underline;
            font-size: 14px;
            font-weight: 400;
        }
    }
    &__checkbox {
        margin-top: 2px;
    }
    &__title {
        color: $black;
        display: block;
        font-size: px2rem(14px);
        font-weight: 500;
        margin-top: 5px;
        margin-bottom: 3px;
    }
    .icon-arrow-right {
        margin-top: 7px;
    }
    &__sum {
        color: $dark-gray;
        font-size: px2rem(14px);
        font-weight: 500;
        margin-top: 5px;
    }
    &__view {
        padding-top: 6px;
    }
    &__btns {
        .btn {
            & + .btn {
                margin-left: 9px;
            }
        }
    }
}
