.nav {
    &-item {
        font-size: px2rem(12px);
        font-weight: 500;
        text-transform: uppercase;
        position: relative;

        & + & {
            @include lg {
                margin-left: 33px;
            }
        }
    }
    &-link {
        color: $gray;
        position: relative;
        transition: all 300ms ease-in-out;
        .navbar-expand-lg .navbar-nav & {
            color: $gray;
            padding-left: 5px;
            padding-right: 5px;
            @include hard-hover {
                color: $black;
            }
        }

        &.active {
            color: $black;
            text-decoration: none;
            &:after {
                transform: scale(1);
            }
        }

        &:after {
            content: '';
            display: none;
            width: 100%;
            height: 4px;
            background-color: $blue;
            position: absolute;
            bottom: -19px;
            left: 0;
            transform: scale(0);
            transition: all 300ms ease-in-out;
            @include lg {
                display: block;
            }
        }
        @include hover {
            &:after {
                transform: scale(1);
            }
        }
    }
    &-tabs {
        border-bottom: $border-silver;

        + .tab-content {
        }

        .nav {
            &-item {
                max-height: 41px;
                & + .nav-item {
                    margin-left: 49px;
                }
                .filter-search {
                    position: relative;
                    top: -16px;
                }
            }
            &-link {
                padding: 0 1px 23px;
                background-color: transparent;
                border: none;
                border-radius: 0;
                &:after {
                    height: 1px;
                    bottom: 0;
                }
                &.active {
                    color: $dark-gray;
                    background-color: transparent;
                }

                &_link {
                    color: $blue;
                    @include hover {
                        color: darken($blue, 20);
                    }

                    &:after {
                        display: none;
                    }
                }

                .icon {
                    margin-right: 4px;
                }
            }
        }
    }
    &-pills {
        margin-bottom: 10px;
        justify-content: center;
        border: $border-light;

        .nav {
            &-item {
                position: relative;
                border: none;
                & + .nav-item {
                    margin-left: 0;
                }
            }
            &-dropdown {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 10;

                .dropdown {
                    &-toggle {
                        margin-right: 0;
                        padding: 11px 12px;
                    }
                    &-menu {
                        margin-top: 0;
                        left: 12px !important;
                    }
                }
            }
            &-link {
                color: $dark-gray;
                line-height: 2.1;
                padding: 0 29px 10px 19px;
                background-color: $white;
                border: none;
                border-radius: 0;
                position: relative;
                opacity: .6;
                &:after {
                    bottom: 0;
                }
                &.active {
                    color: $dark-gray;
                    background-color: $white;
                    box-shadow: $shadow-light;
                    opacity: 1;
                    z-index: 5;
                }
                .float {
                    color: $dark-gray;
                    font-size: px2rem(24px);
                    margin-right: 3px;
                }
                .symbol {
                    color: $dark-gray;
                    font-size: px2rem(16px);
                    position: relative;
                    top: -2px;
                }
            }
            &-text {
                display: block;
            }
        }
    }
}

.tab-content-block {
    background-color: $white;
    box-shadow: $shadow-light;
}
