.notification {
    position: relative;
    &-btn {
        display: block;
        margin-right: -1px;
        padding-right: 0;
        position: relative;
    }
    &-count {
        color: $white;
        display: block;
        width: 10px;
        height: 10px;
        line-height: 12px;
        font-size: px2rem(8px);
        text-align: center;
        background-color: $red;
        border-radius: 100%;
        position: absolute;
        top: -1px;
        right: -3px;
    }
}