.login-bg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;

    &__img {
        width: auto;
        max-width: unset;
        height: 100%;
        position: relative;
        left: -50%;
    }
}
