.sing-in {
    height: 100%;
    &__in {
        width: 100%;
        max-width: 480px;
        margin: 80px auto 0;

        @include xl {
            margin-left: 136px;
        }
    }
    &__lead {
        color: $dark-gray;
        font-weight: 400;
        font-size: 14px;
    }
}
