.sing-block {
    color: $gray;
    font-size: 12px;
    text-transform: uppercase;
    &__text {

    }
    &__link {
        text-decoration: underline;
        @include hover {
            text-decoration: none;
        }
    }
}
